<%= form_with(model: @url, remote: true, class:"form-signin") do |f| %>
  <img class="mb-4" src="<%= asset_path('logo.svg') %>" alt="" width="72" height="72">
  <h1>Url Shrink</h1>

  <%= f.url_field :long_url, id:"inputEmail", class:"form-control", placeholder:"Your link", required: true, autofocus:"" %>
  <%= f.submit 'generate', class:"btn btn-lg btn-primary btn-block" %>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Original</th>
      <th scope="col">Short</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Errors</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
